html {
  font-size: 100%;
}

body {
  touch-action: manipulation;
  font-family: $font-family;
  font-weight: font-weight(regular);
  color: clr('black');
  margin: 0;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}
